:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --second-background-color: #f4f4fd;
  --hover-focus-color: #404bbf;
  --bg-hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --bg-icon-color: #f4f4fd;
  --border-color: #e7e9fc;
  --companies-icons-color: #8e8f99;
  --label-color: #8e8f99;
  --footer-soc-bg-color: #31d0aa;
  --cards-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --ordinary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body.lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

.page-header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 16px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea {
  resize: none;
}

/* ---------------HEADER------------------- */

.logo.link {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.name {
  color: var(--title-text-color);
}

.mobile-nav-list .site-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
}

.mobile-nav-list .site-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.page-nav {
  display: flex;
}
.js-open-menu {
  display: flex;
  padding: 0;

  border-radius: 0%;
  background-color: transparent;
}
.js-menu-container .modal-icon {
  display: none;
}
.menu-open-icon {
  stroke: var(--title-text-color);
}

.js-menu-container {
  display: none;
}

.site-nav-link.link:hover,
.site-nav-link.link:focus,
.address-list .link:hover,
.address-list .link:focus,
.site-nav-link.link.active-nav,
.customers-link:hover,
.customers-link:focus {
  color: var(--hover-focus-color);
}
/* ---------------MOBILE-HEADER------------------- */

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-nav {
    justify-content: space-between;
  }

  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--primary-white-color);
    width: 100%;
    height: 100%;
    z-index: 999;
  }

  .js-close-menu .modal-close-button {
    background-color: var(--border-color);
  }

  .mobile-menu.is-open .modal-icon {
    display: block;
  }

  .site-nav-list {
    display: none;
  }
  .address-list {
    display: none;
  }

  .mobile-menu.is-open .address-list {
    display: block;
  }
  .menu-open-icon {
  }

  .site-nav-link.link.active-nav {
    color: var(--accent-color);
  }

  .address-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;

    color: var(--accent-color);
  }

  .phone-item {
    margin-bottom: 40px;
  }

  .address-email-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--primary-text-color);
  }

  .address-list {
    margin-bottom: 48px;
  }

  .mobile-menu .soc-list {
    justify-content: flex-start;
    gap: 32px;
  }
}

@media screen and (min-width: 428px) {
  .soc-list.list {
    gap: 56px;
  }
}

@media screen and (max-width: 384px) {
  .phone-item > .address-item-link {
    font-size: 28px;
  }
}
/* ---------------TABLET-HEADER------------------- */

@media screen and (min-width: 768px) {
  .page-header-container {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .site-nav-list {
    display: flex;
    align-items: center;
    margin-left: 120px;
  }

  .site-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .site-nav-link.link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--title-text-color);
    font-weight: 500;

    transition: color var(--ordinary-transition);
    position: relative;
  }

  .active-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
  }

  .address-menu {
    margin-left: auto;
  }

  .address-item-link.link {
    color: var(--primary-text-color);

    transition: color var(--ordinary-transition);
  }

  .js-open-menu {
    display: none;
  }
}

/* ---------------DESKTOP-HEADER------------------- */
@media screen and (min-width: 1200px) {
  .address-list {
    display: flex;
  }
  .address-item-link.link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
}

/* ---------------HERO-------------------- */

.hero {
  margin: 0 auto;
  text-align: center;
  padding: 112px 0;
  background-color: var(--title-text-color);
  background-image: var(--bg-hero-gradient),
    url(../images/mobile/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-hero-gradient),
      url(../images-2x/mobile-2x/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  color: var(--primary-white-color);
  max-width: 320px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
  margin-bottom: 72px;
}

.hero-button {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  border: none;
  transition: background-color var(--ordinary-transition);
}

/* ---------------HERO-MOBILE-------------------- */

@media screen and (min-width: 480px) {
  .hero {
    max-width: 428px;
    background-image: var(--bg-hero-gradient),
      url(../images/tablet/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-hero-gradient),
        url(../images-2x/tablet-2x/hero-bg-tab-2x.jpg);
    }
  }
}

/* ---------------HERO-TABLET-------------------- */

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: var(--bg-hero-gradient), url(../images/hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-hero-gradient),
        url(../images-2x/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
/* ---------------HERO-DESKTOP------------------- */

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

/* ---------------MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--ordinary-transition),
    visibility var(--ordinary-transition);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--ordinary-transition);
  padding: 72px 24px 24px;
  width: 100%;
  max-width: 408px;

  background-color: #fcfcfc;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--border-color);
  color: var(--primary-white-color);

  transition: background-color var(--ordinary-transition);
}

.modal-icon {
  fill: var(--title-text-color);

  transition: fill var(--ordinary-transition);
}

.modal-close-button:hover .modal-icon,
.modal-close-button:focus .modal-icon {
  fill: currentColor;
}

.modal-form {
  margin-right: auto;
  margin-left: auto;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 16px;

  color: var(--title-text-color);
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-label.text-label {
  letter-spacing: 0.01em;
}

.modal-form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--label-color);
}

.form-icon-wrap {
  position: relative;
}

.modal-form-input {
  width: 100%;
  margin: 0;
  padding: 8px 16px 8px 38px;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--ordinary-transition);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill var(--ordinary-transition);
}

.form-comment-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--ordinary-transition);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  transition: background-color var(--ordinary-transition),
    border-color var(--ordinary-transition);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--hover-focus-color);
  border-color: transparent;
}

.checkbox-input:checked + * .accept-icon {
  fill: var(--bg-icon-color);
}

.checkbox-input:checked:focus + .checkbox-icon,
.checkbox-input:focus + .checkbox-icon {
  outline: 2px solid black;
}

.accept-icon {
  fill: var(--primary-white-color);

  transition: fill var(--ordinary-transition);
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--label-color);
}

.checkbox-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--accent-color);
}

.modal-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  align-items: center;
  text-align: center;
  min-width: 169px;
  margin: 0 auto;

  padding: 16px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--ordinary-transition);
}

.hero-button:hover,
.hero-button:focus,
.modal-close-button:hover,
.modal-close-button:focus,
.modal-button:hover,
.modal-button:focus,
.soc-network-link:hover,
.soc-network-link:focus,
.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--hover-focus-color);
}

/* ---------------EXAMPLES AND ADVICES-------------------- */

@media screen and (max-width: 1199px) {
  .advices-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
  .advices-text {
    font-weight: 500;
  }
}
.advices-list {
  display: flex;
}
.advices-item {
}

.advices-item-title {
  margin-bottom: 8px;
}

.works-section-title,
.employee-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

/* ---------------EXAMPLES AND ADVICES MOBILE-------------------- */
@media screen and (max-width: 767px) {
  .advices-list {
    display: block;
  }

  .advices-item {
  }

  .advices-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .advices-item-title {
    text-align: center;
  }
}

/* ---------------EXAMPLES AND ADVICES TABLET-------------------- */
@media screen and (min-width: 768px) {
  .advices-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advices-item {
    width: calc((100% - 24px) / 2);
  }
  .advices-item:not(:nth-child(even)) {
    margin-right: 24px;
  }
  .advices-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
}
/* ---------------EXAMPLES AND ADVICES DESKTOP-------------------- */
@media screen and (min-width: 1200px) {
  .icon-box {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--bg-icon-color);
  }
  .advices-item {
    width: calc((100% - 72px) / 4);
  }
  .advices-item:not(:last-child) {
    margin-right: 24px;
  }
  .advices-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .advices-list {
    flex-wrap: nowrap;
  }

  .advices-item-title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* ---------------WORKS------------------- */

.works.section {
  display: none;
}

.works.section {
  padding-top: 0;
}

.works-list {
  display: flex;
}
.works-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--border-color);
}
.works-item:not(:last-child) {
  margin-right: 24px;
}

/* ---------------WORKS-DESKTOP------------------- */

@media screen and (min-width: 1200px) {
  .works.section {
    display: flex;
  }
}

/* ---------------OUR TEAM------------------- */

.employee {
  background-color: var(--second-background-color);
}

.employee-item {
  background-color: var(--primary-white-color);
  width: 264px;
  box-shadow: var(--cards-shadow);
  border-radius: 0px 0px 4px 4px;
}

.employees-list {
}

.employee-item-wrap {
  padding: 32px 16px;
}

.employees-list .employee-item-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.employee-position {
  text-align: center;
  margin-bottom: 8px;
}

.employee-network-list {
  display: flex;
  gap: 24px;
}

.employee-network-item {
  width: 40px;
  height: 40px;
}
.soc-network-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--ordinary-transition);
}

.soc-network-icon {
  fill: var(--bg-icon-color);
}

/* ---------------OUR TEAM MOBILE------------------- */

@media screen and (max-width: 767px) {
  .employee-item {
    margin: 0 auto;
  }

  .employee-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* ---------------OUR TEAM TABLET------------------- */
@media screen and (min-width: 768px) {
  .employees-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .employee-item:not(:nth-child(even)) {
    margin-right: 24px;
  }

  .employee-item:nth-child(-n + 2) {
    margin-bottom: 64px;
  }
}

/* ---------------OUR TEAM DESKTOP------------------- */
@media screen and (min-width: 1200px) {
  .employee-item:not(:last-child) {
    margin-right: 24px;
  }
  .employee-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}
/* ---------------CUSTOMERS-------------------- */

@media screen and (max-width: 1199px) {
  .icon-box {
    display: none;
  }
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--title-text-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customers-item {
  width: 190px;
  height: 88px;
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--companies-icons-color);

  transition: color var(--ordinary-transition);
}

.customers-logo {
  fill: currentColor;
}

/* ---------------CUSTOMERS MOBILE-------------------- */

/* ---------------CUSTOMERS TABLET-------------------- */

@media screen and (min-width: 768px) {
  .customers-item {
    width: 168px;
  }

  .customers-list {
    gap: 72px 24px;
  }
}

/* ---------------CUSTOMERS DESKTOP-------------------- */
@media screen and (min-width: 1200px) {
  .customers-list {
    gap: 24px;
  }
}
/* ---------------FOOTER-------------------- */

@media screen and (max-width: 1199px) {
  .footer-text {
    margin-bottom: 72px;
  }
  .footer-link.logo {
  }

  .footer-wrap {
  }
}
.footer {
  background-color: var(--title-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-link.logo {
  display: block;
  margin-bottom: 16px;
}
.footer-name-logo {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
  width: 268px;
}

.social-title {
  font-weight: 500;
  color: var(--primary-white-color);
  margin-bottom: 16px;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.footer-soc-box .soc-list {
  gap: 16px;
}

.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--ordinary-transition);
}

.soc-icon {
  fill: var(--bg-icon-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--footer-soc-bg-color);
}

.footer-form-text {
  font-weight: 500;

  color: var(--primary-white-color);
  margin-bottom: 16px;
}

.footer-email-input {
  padding: 8px 16px;
  height: 40px;

  background-color: transparent;
  color: var(--primary-white-color);
  border: 1px solid var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color var(--ordinary-transition),
    filter var(--ordinary-transition);
  outline: none;
}

.footer-email-input:focus {
  border-color: var(--accent-color);
}

.footer-email-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
}

.footer-submit-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  text-align: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition: background-color var(--ordinary-transition);
}

.footer-btn-icon {
  margin-left: 16px;
}

/* ---------------FOOTER-MOBILE-------------------- */
@media screen and (max-width: 767px) {
  .footer-wrap {
    flex-direction: column;
    align-items: center;
  }
  .footer-box {
    margin-bottom: 72px;
  }
  .footer-soc-box {
    margin-bottom: 72px;
  }
  .footer-link.logo {
    text-align: center;
  }
  .footer-form-text {
    text-align: center;
  }

  .footer-email-input {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer-submit-button {
    margin: 0 auto;
  }
  .social-title {
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-text {
    margin: 0 auto;
  }
}

/* ---------------FOOTER-TABLET-------------------- */

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .footer-form {
  }
  .footer-box {
    margin-right: 24px;
  }
  .footer-text {
    width: 264px;
  }
  .footer-submit-button {
    display: inline-flex;
  }
  .footer-email-input {
    margin-right: 24px;
    width: 264px;
  }
}
/* ---------------FOOTER-DESKTOP-------------------- */
@media screen and (min-width: 1200px) {
  .footer-box {
    margin-right: 120px;
  }
  .footer-soc-box {
    margin-right: 80px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrap {
    padding-left: 0;
  }
  .footer-form {
  }
}
/* ---------------PORTFOLIO HTML-------------------- */

/* ---------------MENU BUTTONS-------------------- */
.menu-buttons.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.menu-item:first-child {
  margin-bottom: 16px;
}
.menu-item:not(:last-child) {
  margin-right: 24px;
}
.menu-button {
  display: inline-block;
  padding: 8px 16px;
  color: var(--accent-color);
  background-color: var(--second-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  transition: color var(--ordinary-transition),
    background-color var(--ordinary-transition),
    box-shadow var(--ordinary-transition), border var(--ordinary-transition);
}

.menu-button:hover,
.menu-button:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
@media screen and (max-width: 325px) {
  .menu-item:last-child {
    margin-top: 16px;
  }
}
/* ---------------SERVICES-------------------- */

.services {
  padding-top: 48px;
  padding-bottom: 48px;
}

.services-list.list {
  flex-wrap: wrap;
}

.services-item:not(:last-child) {
  margin-bottom: 48px;
}

.services-link {
  display: block;
  transition: box-shadow var(--ordinary-transition);
}
.services-link.link:hover,
.services-link.link:focus {
  box-shadow: var(--cards-shadow);
}

.services-thumb {
  position: relative;
  overflow: hidden;
}

.services-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--ordinary-transition);
}

.services-link:hover .services-overlay,
.services-link:focus .services-overlay {
  transform: translateY(0);
}

.services-overlay-text {
  color: #f4f4fd;
}

.services-wrap {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.services-title {
  margin-bottom: 8px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.services-text {
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .services-item {
  }
}

/* ---------------SERVICES,MENU-BTN-TAB-------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-buttons.list {
    justify-content: center;
    margin-bottom: 64px;
  }
  .menu-button {
    padding: 12px 24px;
  }
  .services {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .services-list.list {
    display: flex;
  }

  .services-item {
    width: calc((100% - 24px) / 2);
  }

  .services-item:not(:nth-child(even)) {
    margin-right: 24px;
  }
}
/* ---------------SERVICES-DESKTOP-------------------- */

@media screen and (min-width: 1200px) {
  .menu-buttons.list {
    justify-content: center;
    margin-bottom: 72px;
  }
  .menu-button {
    padding: 12px 24px;
  }
  .services {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .services-list.list {
    display: flex;
  }
  .services-item {
    width: calc((100% - 48px) / 3);
  }

  .services-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }

  .services-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
  }
}
